:root{
    --principal-color: #1E56A0;
    --background-color: #F6F6F6;
    --secondary-color: #D6E4F0;
    --alternative-color: #163172;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
  }

header {
        display: flex;
        flex-direction: row;
        background-color: var(--background-color);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img{
    width: 70px;
    padding: 0%;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: var(--principal-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 16px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: #000 1px solid;*/
    padding: 30px;
    background-color: var(--secondary-color);
}

.elementos-p1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    color: var(--principal-color);
}

.texto-p1{
    font-size: 1.25rem;
    color: var(--principal-color);
}

.texto-p1 p{
    margin-top: 10px;
    width: 80%;
}

.inicio img{
    padding: 20px;
    width: 50%;
}

.button {
    background-color: var(--principal-color);
    border: 2px solid var(--color-black);
    color: var(--background-color);
    display: block;
    margin-top: 15px;
    font-size: 1rem;
    padding: .75rem;
    max-width: 18rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.iniciante{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: justify;
    /*height: 100vh;*/
}

.iniciante h1{
    margin-bottom: 10px;
}
.iniciante p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
    width: 80%;
}

.pimg{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pimg img{
    width: 40%;
}

.paragrafos{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.paragrafos p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 40px;
}