:root{
    --principal-color: #1E56A0;
    --background-color: #F6F6F6;
    --secondary-color: #D6E4F0;
    --alternative-color: #163172;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
  }

header {
        display: flex;
        flex-direction: row;
        background-color: var(--background-color);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img{
    width: 70px;
    padding: 0%;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: var(--principal-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 16px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: #000 1px solid;*/
    padding: 30px;
    background-color: var(--secondary-color);
}

.elementos-p1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

h1{
    font-size: 2.5rem;
    color: var(--principal-color);
}

.texto-p1{
    font-size: 1.25rem;
    color: var(--principal-color);
}

.texto-p1 p{
    margin-top: 10px;
    width: 80%;
}

.inicio img{
    padding: 20px;
    width: 50%;
}

.button {
    background-color: var(--principal-color);
    border: 2px solid black;
    color: var(--background-color);
    display: block;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
    max-width: 18rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.iniciante{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /*height: 100vh;*/
}

.iniciante h1{
    margin-bottom: 10px;
}

.iniciante p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
    width: 80%;
}

.pimg{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pimg img{
    width: 50%;
}

.paragrafos-i{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.paragrafos p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 20px;
}

.vantagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: var(--secondary-color);
}

.vantagens p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin: 10px;
}

.paragrafos-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

span{
    font-weight: bold;
}

.imgdesc{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    border: var(--alternative-color) 4px solid;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.v-icon{
    width: 10%;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alternative-color);
    color: var(--background-color);
    padding-top: 30px;
    text-align: center;
}

footer h1 {
    color: var(--background-color);
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.callact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 40%;
}

.callact p{
    font-size: 1.25rem;
    color: var(--background-color);
    margin-top: 20px;
}

.footer-form {
    margin-bottom: 20px;
    width: 40%;
    border: var(--background-color) 4px solid;
    border-radius: 10px;
    padding: 10px;
}

.footer-form h2 {
    color: var(--background-color);
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

.mensagem {
    font-family: Roboto;
    font-size: 15px;
}

button {
    background-color: var(--principal-color);
    border: 2px solid black;
    color: var(--background-color);
    font-size: 1rem;
    padding: .75rem;
    max-width: 18rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--alternative-color);
}

.copyright {
    width: 100%;
    align-items: center;
    margin-top: 20px;
    border-top: var(--background-color) 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: var(--background-color);
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

/* Página 'Quem somos?'*/
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: var(--secondary-color);
}

.sobre img{
    width: 20%;
}

.sobre h1{
    margin-top: 30px;
    margin-bottom: 10px;
}

.sobre p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
}