:root{
    --principal-color: #1E56A0;
    --background-color: #F6F6F6;
    --secondary-color: #D6E4F0;
    --alternative-color: #163172;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img{
    width: 70px;
    padding: 0%;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: var(--principal-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 16px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: #000 1px solid;*/
    padding: 30px;
    background-color: var(--secondary-color);
}

.elementos-p1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

h1{
    font-size: 2.5rem;
    color: var(--principal-color);
}

.texto-p1{
    font-size: 1.25rem;
    color: var(--principal-color);
}

.texto-p1 p{
    margin-top: 10px;
    width: 80%;
}

.inicio img{
    padding: 20px;
    width: 50%;
}

.button {
    background-color: var(--principal-color);
    border: 2px solid black;
    color: var(--background-color);
    display: block;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
    max-width: 18rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.iniciante{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /*height: 100vh;*/
}

.iniciante h1{
    margin-bottom: 10px;
}

.iniciante p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
    width: 80%;
    text-align: justify;
}

.iniciante img{
    padding: 20px;
    margin-top: 20px;
    width: 40%;
    object-fit: scale-down;
}

.paragrafos-i{
    display: flex;
    flex-direction: column;
}

.paragrafos p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 20px;
}

.vantagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: var(--secondary-color);
}

.pv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vantagens p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin: 10px;
    width: 80%;
}

.paragrafos-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

span{
    font-weight: bold;
}

.imgdesc{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    border: var(--alternative-color) 4px solid;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.v-icon{
    width: 10%;
    margin-right: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alternative-color);
    color: var(--background-color);
    padding-top: 30px;
    text-align: center;
}

footer h1 {
    color: var(--background-color);
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.callact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 35%;
}

.callact p{
    font-size: 1.25rem;
    color: var(--background-color);
    margin-top: 20px;
}

.footer-form {
    margin-bottom: 20px;
    width: 40%;
    border: var(--background-color) 4px solid;
    border-radius: 10px;
    padding: 10px;
}

.footer-form h2 {
    color: var(--background-color);
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

.mensagem {
    font-family: Roboto;
    font-size: 15px;
}

button {
    background-color: var(--principal-color);
    border: 2px solid black;
    color: var(--background-color);
    font-size: 1rem;
    padding: .75rem;
    max-width: 18rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--alternative-color);
}

.copyright {
    width: 100%;
    align-items: center;
    margin-top: 20px;
    border-top: var(--background-color) 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: var(--background-color);
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

/* Página 'Quem somos?'*/
.sobre, .staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: var(--secondary-color);
}
.staff{
    background-color: var(--background-color);
}

.sobre img{
    width: 20%;
}

.sobre h1{
    margin-top: 30px;
    margin-bottom: 10px;
}

.sobre p, .staff p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
}

.story {
    width: 80%;
    text-align: justify;
    margin-bottom: 30px;
}

.minds{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 10px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    padding: 40px;
    border: 5px solid var(--alternative-color);
    margin-top: 30px;
    background-color: var(--secondary-color);
}

.profile h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--principal-color);
    font-size: 1.5rem;
    text-align: center;
}

.profile h4{
    color: var(--principal-color);
    text-align: center;
}

.profile img{
    position: relative;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.padrao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.1);
}

/* Página Serviços */
.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: var(--secondary-color);
}

.servicos p, .fatura p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
}

.intro{
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
}

.serviços, .propostas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.franquia{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    border: 5px solid var(--alternative-color);
    background-color: var(--background-color);
    margin-bottom: 20px;
}

.franquia h2, .franquia h3, .servicos h2, .servicos h3{
    color: var(--principal-color);
    text-align: center;
}

.servicos h2, .servicos h3{
    color: var(--alternative-color);
}

.franquia h3, .servicos h3{
    margin-top: 20px;
}

.franquia p{
    font-size: 1.25rem;
    margin-top: 10px;
}

ul{
    margin-top: 20px;
    margin-left: 20px;
    color: var(--alternative-color);
}

.condicoes{
    margin-top: 5px;
    margin-left: 20px;
    color: var(--alternative-color);
}

.fatura-p{
    font-size: 1.25rem;
    color: var(--principal-color);
    margin-top: 10px;
    text-align: center;
    width: 80%;
}

.solucoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: var(--background-color);
}

.opcoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 10px;
}

.solucao{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    padding: 40px;
    border: 5px solid var(--alternative-color);
    margin-top: 30px;
    background-color: var(--secondary-color);
}
/* Responsividade */
@media only screen and (max-width: 1400px){
    .mind-info{
        width: 80%;
        text-align: center;
    }

    .minds{
        gap: 40px;
    }
}
@media only screen and (max-width: 960px){
    .container{
        justify-content: space-between;
    }

    .menu a{
        font-size: 1rem;
        margin: 0 12px;
    }

    .elementos-p1{
        width: 80%;
    }

    .texto-p1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .texto-p1 p{
        width: 100%;
    }

    .inicio img, .iniciante img{
        display: none;
    }

    .vantagens h1, h2, .iniciante, .paragrafos-i, .pv, .staff{
        text-align: center;
    }

    .pv{
        width: 80%;
    }

    .iniciante{
        justify-content: center;
        align-content: center;
    }

    .p2{
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .paragrafos-i p, .iniciante p{
        width: 100%;
        text-align: justify;
        word-spacing: -1px !important;
        padding: 10px;
    }

    .iniciante p{
        width: 100%;
    }

    .vantagens, .imgdesc, .imgdesc p{
        width: 100%;
    }

    .pimg{
        width: 100%;
    }

    .v-icon{
        display: block;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .callact{
        width: 95%;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .callact p, .mind-info{
        font-size: 1.25rem;
        color: var(--background-color);
        margin-top: 20px;
        text-align: center;
        width: 90%;
    }
    
    .footer-form h2 {
        margin-bottom: 10px;
    }
    .footer-form {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%; 
    }

    .minds{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.8rem;
    }

    header {
        padding: 10px;
    }

    .container{
        justify-content: center;
    }

    .menu a{
        font-size: 1rem;
        margin: 0 12px;
        text-align: center;
    }
    
    .elementos-p1{
        width: 100%;
    }

    .texto-p1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .texto-p1 p{
        width: 100%;
    }

    header img, .inicio img, .iniciante img{
        display: none;
    }

    .vantagens h1, h2, .iniciante, .paragrafos-i, .pv, .staff{
        text-align: center;
    }

    .iniciante{
        justify-content: center;
        align-content: center;
    }

    .p2{
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .paragrafos-i p, .iniciante p{
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .vantagens, .vantagens p, .imgdesc, .imgdesc p{
        width: 100%;
    }

    .vantagens p{
        text-align: center;
    }

    .pimg{
        width: 100%;
    }

    .v-icon{
        display: none;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .callact{
        width: 95%;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .callact p, .mind-info{
        font-size: 1.25rem;
        color: var(--background-color);
        margin-top: 20px;
        text-align: center;
        width: 90%;
    }
    
    .footer-form h2 {
        margin-bottom: 10px;
    }
    .footer-form {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%; 
    }

    .copyright, .padrao{
        text-align: center;
        align-items: center;
        font-size: 0.75rem;
    }

    .sobre h1{
        text-align: center;
        font-size: 1.7rem;
    }

    .story{
        width: 90%;
        text-align: left;
    }

    .minds {
        width: 95%;
    }

    .staff h1{
        font-size: 1.8rem;
    }

    .staff p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 515px){
    .menu a{
        font-size: 0.8rem;
    }
    .copyright, .padrao{
        text-align: center;
        align-items: center;
        font-size: 0.65rem;
    }

    h1{
        text-align: center;
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.2rem;
    }

    .serviços, .propostas{
        width: 90%;
    }

    .franquia{
        padding: 20px;
        align-items: center;
    }

    .franquia h2, .franquia h3{
        font-size: 1rem;
    }

    .franquia p{
        font-size: 0.9rem;
    }
}